.header_content {
  display: grid;
  grid-template-columns: 1.6fr 1fr;
  height: 36rem;
  gap: 5rem;
}

.preco {
  font-weight: 500;
  margin-top: 2rem;
  color: var(--highlight-color);
}

.carrinho {
  width: 28rem;
  height: 5rem;
  margin-top: 1.4rem;
  background: var(--highlight-color);
  border-radius: var(--border-radius);
  color: #FFF;
  font-weight: 500;
}

.reviews_container {
  margin-top: 8rem;
}

.reviews_container header span {
  font-weight: 500;
}

.reviews {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1.4rem;
}