.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 25vh;
  /* Isso vai ocupar toda a altura da janela */
}

.titulo {
  padding-top: 25vh;
  text-align: center;
}

.form input {
  border-radius: var(--border-radius);
  width: 40rem;
  padding: 0.8rem;
  border: 0.15rem solid #ccc;
}

.form input[type='submit']:hover {

  cursor: pointer;

}

.form a {
  border-radius: var(--border-radius);
  width: 40rem;
  padding: 0.8rem;
  border: 0.15rem solid #ccc;
  background-color: chocolate;
  text-align: center;
  color: black;
}